.tab {
  color: var(--light);
  background-color: var(--red);
  text-decoration: none;
  border: solid 1px var(--red);
  width: 25vw;
  padding: 8px;
  font-family: "Gelios";
  font-size: 2em;
  vertical-align: middle;
}

.tab-inactive{
  color: var(--red);
  text-decoration: none;
  border: solid 1px var(--red);
  width: 25vw;
  padding: 8px;
  font-family: "Gelios";
  font-size: 2em;
  vertical-align: middle;
  opacity: 0.7;
}

.tab:hover {
  color: var(--light);
  background-color: var(--other-red);
}

.validTab {
  color: var(--light);
  text-decoration: none;
  border: solid 1px var(--red);
  width: 25vw;
  padding: 8px;
  background-color: var(--red);
}

.fullBar {
  display: flex;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 8vh;
}

.tab-text {
  margin: 0.2em 0;
}

@media screen and (max-width: 750px) {
  .fullBar {
    font-size: 0.6em;
    height: 7vh;
  }
  

}

@media screen and (max-width: 360px) {

  .fullBar {
    font-size: 0.5em;
  }

}

@media screen and (orientation: landscape) and (max-height: 768px) {
  .fullBar {
    display: none;
  }
}