.tab {
  color: var(--red);
  text-decoration: none;
  border: solid 1px var(--red);
  width: 25vw;
  padding: 16px;
  background-color: var(--light);
  font-family: "Gelios";
}

.tab:hover {
  color: var(--light);
  background-color: var(--red);
}

.validTab {
  color: var(--light);
  text-decoration: none;
  border: solid 1px var(--red);
  width: 25vw;
  padding: 16px;
  background-color: var(--red);
}

.fullBar {
  display: flex;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}
