.offeringpage-global {
  min-height: 100vh;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.offeringpage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.selectGift {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  align-content: space-around;
  flex: 1;
}

.offerButton {
  padding: 8px;
  background-image: linear-gradient(to bottom right, var(--dark), var(--blue));
  border-radius: 10px;
  width: 40%;
  height: 17vh;
  box-shadow: 8px 8px 10px var(--dark);
}

.offerButton:hover {
  box-shadow: 10px 10px 10px var(--dark);
  transition: 0.3s;
}

.offerButton:active {
  box-shadow: none;
}

.offerButtonused {
  padding: 8px;
  background-image: linear-gradient(to bottom right, var(--dark), var(--blue));
  border-radius: 10px;
  width: 40%;
  height: 17vh;
}

.offerButton p {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.offerButton img {
    margin: 3vh;
}

.offerButtonused p {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.offerButtonused img {
  margin: 3vh;
}

.offering-title {
    background-color: var(--light);
    color: var(--blue);
    justify-self: start;
    text-align: center;
    padding: 16px;
    margin: 0;
}

a.offerButton {
  text-decoration: none;
  color: white;
}

.card-title {
  margin: 0;
}

@media screen and (max-width: 640px) {
  .offerButton img {
    transform: translateX(-7vh);
      position: absolute;
      margin-bottom: 3vh;
      margin-top: 1vh;
      height: 8vh;
  }

  .offerButtonused img {
    transform: translateX(-7vh);
      position: absolute;
      margin-bottom: 3vh;
      margin-top: 1vh;
      height: 8vh;
  }

  .offerButton {
    height: 15vh;
  }

  .offerButtonused {
    height: 15vh;
  }

  .offerButton:active {
    box-shadow: none;
    transition: 1s;
  }

}

@media screen and (min-height: 900px) {
  .offerButton img {
      height: 10vh;
      margin-bottom: 3vh;
      margin-top: 1.5vh;
  }

  .offerButtonused img {
    height: 10vh;
    margin-bottom: 3vh;
    margin-top: 1.5vh;
}

.offerButton:active {
  box-shadow: none;
  transition: 0.3s;
}

}