.offeringpage {
  min-height: 100vh;
  margin: auto;
  position: relative;
}

.selectGift {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  max-width: 600px;
  margin: auto;
  padding: 60px 0 100px 0;
}

.offerButton {
  padding: 8px;
  background-image: linear-gradient(to bottom right, var(--dark), var(--blue));
  border-radius: 10px;
  margin: 8px;
  width: 130px;
  height: 130px;
  box-shadow: 8px 8px 10px var(--dark);
}

.offerButton:hover {
  box-shadow: none;
}

.offerButton:active {
  box-shadow: none;
}

.offerButtonused {
  padding: 8px;
  background-image: linear-gradient(to bottom right, var(--dark), var(--blue));
  border-radius: 10px;
  margin: 16px 8px;
  width: 6rem;
}

.offerButton p {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.offerButton img {
  width: 50px;
  height: 50px;
  text-align: right;
}

.offerButtonused p {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.offerButtonused img {
  width: 50px;
  height: 50px;
  text-align: right;
}

.offering-title {
  text-align: center;
  color: var(--dark);
  background-color: var(--lightblue);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  padding: 16px 0;
  margin: 0;
}

a.offerButton {
  text-decoration: none;
  color: white;
}
