.topbar {
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  transition: 0.2s;
  color: rgb(208, 211, 197);
  font-family: "Courier New", Courier, monospace;
}

.topbar p {
  margin-top: 0;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
  text-align: center;
}

.topbar h1 {
  margin: 0.7rem 0.7rem 0.5rem 0.7rem;
  font-family: "Gelios";
  letter-spacing: 5px;
  font-weight: lighter;
  font-size: 2.2rem;
  text-shadow: -1px -1px white, 2px 2px #333;
}
