:root {
  --verylight: whitesmoke;
  --light: rgb(208,211,197);
  --dark: rgb(3, 43, 47);
  --lightblue: #d7f3f8;
  --blue: rgb(8, 112, 138);
  --red: rgb(223, 89, 77);
  margin: 0;
  padding: 0;
}
/* rgb(215, 58, 49); */